<footer class="site-footer h-card">
  <div class="wrapper">
    <data class="u-url" href="{{ " /" | relative_url }}"></data>
    <nav>
      <ul>
        <li>
          <a href="https://twitter.com/BrandonHundt2"><svg class="svg-icon grey">
              <use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use>
            </svg> Twitter</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/brandon-hundt-1678989/"><svg class="svg-icon grey">
              <use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use>
            </svg> LinkedIn</a>
        </li>
        <li class="feed-subscribe">
          <a href="{{ 'feed.xml' | relative_url }}">
            <svg class="svg-icon grey">
              <use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>Subscribe</span>
          </a>
        </li>
      </ul>
    </nav>
    <p>&copy;2021 Brandon Hundt.</p>
  </div>
</footer>
