<footer class="site-footer h-card" data-color="black">
  <div class="wrapper">
    <p>I'm Brandon and I live in the Twin Cities of Minnesota. You'll typically find me exploring the intersection of design, geography, and sports. In other words, I like flags and maps.</p>
    <p>I am a strategic human-centered designer who seeks clarity in complex environments. My philosophy is deeply rooted in human-centered design principles, emphasizing empathy and user-centric solutions.</p> 
    <p>During the weekday, I'm the Director of Technical Product Management for PRX, working on <a href="https://www.prx.org/publishing-platform">PRX Dovetail</a> and the website for <a href="https://theworld.org"><em>The World from PRX</em></a>. I have written for <a href="https://theworld.org/people/brandon-hundt">PRI.org</a> and City Pages (RIP).</p>
    <p>Follow me on <a href="https://twitter.com/BrandonHundt2">Twitter</a>, <a href="https://bsky.app/profile/brandonhundt.bsky.social">BlueSky</a>, or <a href="https://www.linkedin.com/in/brandonhundt/">LinkedIn</a>.</p>
    <data class="u-url" href="{{ '/' | relative_url }}"></data>
    <p class="copyright">&copy;{{ site.time | date: '%Y' }} Brandon Hundt.</p>
  </div>

</footer>

<script type="text/javascript" src="/assets/js/scripts.js"></script>
