<footer class="site-footer h-card" data-color="black">
  <div class="wrapper">
    <p>I'm Brandon and I live in the Twin Cities of Minnesota. You'll typically find me exploring the intersection of design, geography, and sports. In other words, I like flags and maps.</p>
    <p>During the weekday, I'm the Director of Product Management for PRX, working on <a href="https://www.prx.org/publishing-platform"><strong>PRX Dovetail</strong></a> and the website for <a href="https://theworld.org"><strong></strong><em>The World from PRX</em></strong></a>.</p>
    <p>I have written for <a href="https://theworld.org/people/brandon-hundt">PRI.org</a> and City Pages (RIP). <a href="https://twitter.com/BrandonHundt2">Follow me on Twitter</a>.</p>
    <data class="u-url" href="{{ " /" | relative_url }}"></data>
    <nav>
      <ul>
        <li>
          <a href="https://twitter.com/BrandonHundt2"><svg class="svg-icon grey">
              <use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use>
            </svg> Twitter</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/brandon-hundt-1678989/"><svg class="svg-icon grey">
              <use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use>
            </svg> LinkedIn</a>
        </li>
        <li class="feed-subscribe">
          <a href="{{ 'feed.xml' | relative_url }}">
            <svg class="svg-icon grey">
              <use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>Subscribe</span>
          </a>
        </li>
      </ul>
    </nav>
    <p>&copy;2021 Brandon Hundt.</p>
  </div>
  <script type="text/javascript" src="/assets/js/scripts.js"></script>
</footer>
