<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
  {%- seo -%}
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="preload" href="/assets/fonts/enriqueta-bold-webfont.woff" as="font" type="font/woff" crossorigin>
  <link rel="preload" href="/assets/fonts/lato-regular-webfont.woff" as="font" type="font/woff" crossorigin>
  <link rel="preload" href="/assets/fonts/lato-light-webfont.woff" as="font" type="font/woff" crossorigin>
  {%- feed_meta -%}

</head>
