<header class="site-header" data-color="black">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <h3 class="site-title">
      <a rel="author" href="{{ '/' | relative_url }}">
        <span class="material-icons" aria-label="hidden">location_on</span>
        <span>Brandon Hundt</span>
      </a>
    </h3>
  </div>
</header>
