@mixin background-image {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  padding: 100px 0 50px;
  border-bottom: 1px solid $drk-blue;
  background-position-x: center;
  background-position-y: center;
}

@mixin background-image-large {
  position: relative;
  height: 70vh;
  min-height: 400px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 5vh;
  justify-content: center;
  background-size: cover;
  border-bottom: 1px solid $drk-blue;
  background-position-x: center;
  background-position-y: center;
}

@mixin header-over-background {
  position: relative;
  color: #fff;
  text-shadow: 0 1px 1px $drk-blue;
  margin: 0 0 0.5em;
  font-size: 2.25rem;
  line-height: 1.25;

  @media only screen and (max-width: 590px) {
    font-size: 1.75rem;
  }
}

.home-container {
  background: $drk-blue;
  color: #fff;
  padding: 2em 0;

  a:link,
  a:visited {
    color: #97E8ED;
    font-weight: bold;
  }

  &.post-container {
    border-bottom: none;
    padding-bottom: 0;
  }

  h2 {
    text-align: center;
    color: #fff;
    font-family: $base-font-family;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 300;
  }
}

.post {
  flex-grow: 1;
  position: relative;
  z-index: 1;

  img {
    width: 100%;
    height: auto;
  }
}

.lede-image {
  top: 0;
  width: 100%;
  bottom: 0;
  z-index: 0;
  position: absolute;
  margin-bottom: 0;
  min-height: 75vh;
  height: 100%;
  grid-row: 1 / -1;
  position: initial;
  align-self: start;
  grid-column: 1 / -1;

  &:before {
    content: "";
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABZJREFUeNpi2r9//38gYGAEESAAEGAAasgJOgzOKCoAAAAASUVORK5CYII=) repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 120;
    opacity: .7;
  }

  .default-image {
    position: relative;
    z-index: 0;
    object-fit: cover;
    object-position: center center;
    opacity: 0.5;
    width: auto;
    height: 100%;

    @media screen and (min-width: 1201px) {
      width: 100%;
      height: auto;
    }
  }
}

.post-wrapper {
  position: relative;
  z-index: 5;
  background-color: #fff;
  padding-top: 2em;
  padding-bottom: 1em;
}

.wp-caption-text {
  font-size: .875em;
  margin-top: .5em;
  color: #888;
}

/**
 * Page content
 */
.page-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  margin-bottom: 0;
  background: $drk-blue;
  list-style: none;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 400px;
  grid-auto-flow: dense;

  @media only screen and (max-width: 400px) {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
  }


  li {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid $drk-blue;
    display: flex;
    align-items: center;
    justify-content: left;
    transform: rotate(-1deg);

    &:nth-child(even) {
      transform: rotate(1deg);
      background: $blue;
    }

    &.post-teaser-has-image {
      @include background-image();
      margin: 0;
      padding: 0;
    }

    .post-content {
      padding: 50px 25px 10px;
    }

    .post-content {
      @include header-over-background();


      h3 {
        position: relative;
        font-size: 1.5em;
        margin-top: 10px;
        margin-bottom: 20px;

        a {
          color: #fff;

          &:hover {
            color: #eee;
          }
        }
      }

      .post-meta {
        position: relative;
        font-size: 18px;
        color: #eee;
        display: block;
      }
    }
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $brand-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

/**
 * Posts
 */
.post-header {
  color: #fff;
  display: grid;
  overflow: hidden;
  position: relative;
  font-size: 1.2rem;
  min-height: 75vh;
  align-content: end;
  margin-bottom: 1rem;
  background-color: $drk-blue;
  grid-template-rows: max-content max-content;

  max-height: 75vh;
  min-height: auto;

  .wrapper {
    width: calc(100% - 30px);
    display: grid;
    padding: 15px;
    grid-gap: 1rem;
    grid-row: 1 / -1;
    position: relative;
    min-height: 33.33333%;
    grid-column: 1 / -1;
    align-content: end;
    text-shadow: 1px 1px 6px $drk-blue;

    @media screen and (min-width: $on-large) {
      @include relative-font-size(2);
    }
  }

  .post-meta {
    position: relative;
    color: #eee;
    text-shadow: 0 1px 1px $drk-blue;
    font-size: 1rem;
  }
}

.post-title,
.post-content h1 {
  @include relative-font-size(1.75);
  letter-spacing: -1px;
  line-height: 1.15;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(2.625);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h1,
  h2,
  h3 {
    margin-top: $spacing-unit * 2
  }

  h4,
  h5,
  h6 {
    margin-top: $spacing-unit
  }

  h2 {
    @include relative-font-size(1.75);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(2);
    }
  }

  h3 {
    @include relative-font-size(1.375);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.625);
    }
  }

  h4 {
    @include relative-font-size(1.25);
  }

  h5 {
    @include relative-font-size(1.125);
  }

  h6 {
    @include relative-font-size(1.0625);
  }
}
